* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
:root {
   --primary-color: rgb(133, 131, 131);
   --secondary-color: rgb(177, 174, 174);
   --pending-color: rgb(250, 196, 160);
   --paid-color: rgb(226, 225, 225);
 }
.header__wrapper{
   display: flex;
   max-width: 1440px;
   padding: 20px;
}
span{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   cursor:pointer;
}
.header__search{
   width: 910px;
   border: 1px solid var(--secondary-color);
   border-radius: 4px;
   height: 40px;
   margin-right: 9px;
   padding: 10px;
   font-size: 16px;
   font-weight: 400;
   color: var(--primary-color);
}
::placeholder{
   font-size: 16px;
   color: rgb(143, 142, 142);
   padding: 10px;
}
.row{
   border: 1px solid var(--secondary-color);
   border-radius: 3px;
   height: 40px;
}
.header__navigation{
   flex-direction: row;
}
.header__icons{
   width: 15px;
   height: 15px;
   cursor:pointer;
}
.header__items{
   display: flex;
}
li.header__item{
   font-weight: 600;
   color: rgb(133, 131, 131);
}
li.header__item:last-child{
   border: 1px solid var(--secondary-color);
   border-radius: 3px;
   height: 40px;
   margin-left: 9px;
}
/* header ends*/

.grid__body{
   display: grid;
   grid-template-columns: 0.4fr 1.2fr 2fr 1.5fr 1.2fr 1.7fr 1.6fr 1fr 1fr 1fr ;
   grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
   height: 100%;
   font-family: Arial, Helvetica, sans-serif;
   color:var(--primary-color);
   white-space: nowrap;
}
.grid__item{
   border-bottom: 2px solid var(--secondary-color);
   padding: 12px 25px;
}
.checkbox{
   text-align: center;
   padding: 9px;
}
.table__checkbox{
   width: 18px;
   height: 18px;
}
.table__title{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 14px; 
   font-weight: 700;
   color: var(--primary-color);
   white-space: nowrap;
}
.order__number{
   color:var(--primary-color);
   font-weight: 600;
}
.pending{
   background-color: var(--pending-color);
   border-radius: 10px;
   padding: 3px;
}
.paid{
   background-color: var(--paid-color);
   border-radius: 10px;
   padding: 3px;
}


